# Ecommerce Purchases Exercise - Solutions

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Ecommerce Purchases.csv')
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

# what is the average purchase price?

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [6]:
df['Purchase Price'].mean()

50.347302

# what are the highest and lowest purchase price?

In [7]:
df['Purchase Price'].max()

99.99

In [8]:
df['Purchase Price'].min()

0.0

# how many people choose "English language" on the website

In [9]:
df['Language']

0       el
1       fr
2       de
3       es
4       es
        ..
9995    it
9996    pt
9997    el
9998    es
9999    el
Name: Language, Length: 10000, dtype: object

In [14]:
df.groupby('Language').count()[['Email']].loc['en']

Email    1098
Name: en, dtype: int64

In [18]:
df[df['Language'] == 'en'].count()['Email']

1098

# How many people have job title of "lawyer"

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [24]:
df[df['Job'] == 'Lawyer']['Email'].count()

30

# How many people made the purchase during the AM and how many people made the purchase during PM ?

In [27]:
df.columns = df.columns.str.lower().str.strip().str.replace(' ','_')

In [28]:
df.columns

Index(['address', 'lot', 'am_or_pm', 'browser_info', 'company', 'credit_card',
       'cc_exp_date', 'cc_security_code', 'cc_provider', 'email', 'job',
       'ip_address', 'language', 'purchase_price'],
      dtype='object')

In [36]:
df.groupby('am_or_pm').count()['email'].sort_values(ascending=False)

am_or_pm
PM    5068
AM    4932
Name: email, dtype: int64

In [34]:
#using value_counts() method

df['am_or_pm'].value_counts()

am_or_pm
PM    5068
AM    4932
Name: count, dtype: int64

# what are 5 most common Job Titles?

In [39]:
df.columns

Index(['address', 'lot', 'am_or_pm', 'browser_info', 'company', 'credit_card',
       'cc_exp_date', 'cc_security_code', 'cc_provider', 'email', 'job',
       'ip_address', 'language', 'purchase_price'],
      dtype='object')

In [51]:
df.groupby('job').count()['email'].sort_values( ascending=False).head(5)

job
Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Designer, jewellery                  27
Research officer, political party    27
Name: email, dtype: int64

In [50]:
df['job'].value_counts().sort_values(ascending=False).head(5)

job
Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: count, dtype: int64

# Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?**

In [54]:
df[df['lot'] == '90 WT'][['lot','purchase_price']]

       lot  purchase_price
513  90 WT            75.1

# **What is the email of the person with the following Credit Card Number: 4926535242672853**

In [56]:
df[df['credit_card'] == 4926535242672853 ][['credit_card','email']]

           credit_card                         email
1234  4926535242672853  bondellen@williams-garza.com

# **How many people have American Express as their Credit Card Provider *and* made a purchase above 95 $ ?**

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   address           10000 non-null  object
 1   lot               10000 non-null  object
 2   am_or_pm          10000 non-null  object
 3   browser_info      10000 non-null  object
 4   company           10000 non-null  object
 5   credit_card       10000 non-null  int64
 6   cc_exp_date       10000 non-null  object
 7   cc_security_code  10000 non-null  int64
 8   cc_provider       10000 non-null  object
 9   email             10000 non-null  object
 10  job               10000 non-null  object
 11  ip_address        10000 non-null  object
 12  language          10000 non-null  object
 13  purchase_price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [83]:
df[(df['cc_provider'] == 'American Express') & (df['purchase_price'] > 95)].count()['email']

39

# How many people have a credit card that expires in 2025?

In [86]:
df['cc_exp_date']

0       02/20
1       11/18
2       08/19
3       02/24
4       10/25
        ...
9995    03/22
9996    07/25
9997    05/21
9998    11/17
9999    02/19
Name: cc_exp_date, Length: 10000, dtype: object

In [91]:
df['cc_exp_date'].isin(['07/25']).sum()

85

In [93]:
sum(df['cc_exp_date'].apply(lambda x: x[3:]) == '25')

1033

In [101]:
d1 = '07/25'
d1[3:] == '25'

True

# What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)

In [102]:
df['email'].apply(lambda x: x.split('@')[1]).value_counts().head(5)

email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64